[Unit]
Description=Run safe gernalix GitHub autosync

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=github-autosync.service

[Install]
WantedBy=timers.target
