[Unit]
Description=Run safe gernalix GitHub autosync

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=1s
RandomizedDelaySec=0
Persistent=true
Unit=github-autosync.service

[Install]
WantedBy=timers.target
